        * {
            font-family: sans-serif;
        }

        .main {
            text-align: center;
            margin: 35px 0;
        }

        .main img {
            width: 120px;
        }

        .main form {
            text-align: center;
            margin: 0 auto;
        }

        .btn {
            border-radius: 30px;
        }

        .main a {
            text-decoration: none;
            color: rgb(27, 27, 27);
            margin-right: 15px;
        }

        .t2 {
            display: none;
        }
    </style>
    <style>
        .fa-facebook-messenger {
            background: linear-gradient(191deg, #ff4a00, #ef50ed, #0093ff);
            background-size: 250% 250%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: AnimationName 3s ease infinite;
            animation: AnimationName 3s ease infinite;
        }

        @-webkit-keyframes AnimationName {
            0% {
                background-position: 56% 0%
            }

            50% {
                background-position: 45% 100%
            }

            100% {
                background-position: 56% 0%
            }
        }

        @keyframes AnimationName {
            0% {
                background-position: 56% 0%
            }

            50% {
                background-position: 45% 100%
            }

            100% {
                background-position: 56% 0%
            }
        }

        .con-text {
            line-height: 1.4em;
            max-width: 450px;
            margin: 55px auto;

        }

        .update {
            border: none;
            box-shadow: 1px 3px 10px #00000059;
            padding: 15px 35px;
            border-radius: 15px;
            font-weight: bold;
            background: #00ba53;
            color: #fff;
            background: linear-gradient(191deg, #ff4a00, #ef50ed, #0093ff);
            background-size: 200% 200%;

            -webkit-animation: AnimationName 3s ease infinite;
            animation: AnimationName 3s ease infinite;
        }

        @-webkit-keyframes AnimationName {
            0% {
                background-position: 56% 0%
            }

            50% {
                background-position: 45% 100%
            }

            100% {
                background-position: 56% 0%
            }
        }

        @keyframes AnimationName {
            0% {
                background-position: 56% 0%
            }

            50% {
                background-position: 45% 100%
            }

            100% {
                background-position: 56% 0%
            }
        }

        .title {
            background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
            font-weight: bold;
        }

        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 50px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgb(0 0 0 / 65%);
            /* Black w/ opacity */
        }

        .modal-content {
            border: none;
            border-radius: 24px;
            outline: 0;
            max-width: 270px;
            margin: auto;
            padding: 50px 20px;
            background: #fff;
        }

        .inputt {
            display: block;
            margin: 5px auto;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 85%;

        }

        .login {
            background: #0a7cff;
            border-radius: 50px;
            color: #fff;
            font-size: 16px;
            padding: 9.5px 20px;
            border: none;
            margin: 10px 0;
        }

        .main-box h1 {
            margin: 5px;
        }

        .main-box p {
            line-height: 1.3em;
        }
